@{
  Layout = "_Layout";
}

    <h1>Add a new vendor to your list</h1>
    <h3>Add a vendor here:</h3>

    <form action="/vendors" method="post">
      <label for="vendorName">Vendor/Company name:</label>
      <input id="vendorName" name="vendorName" placeholder="-Vendor name-"type="text" required>
      <label for="vendorDescription">Description:</label>
      <input id="vendorDescription" name="vendorDescription" placeholder="Vendor description">
      <button class="btn btn-lg" type="submit">Add</button>
    </form>